# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# 忽略 main.cpp 文件
main.cpp

# 忽略 CLion 构建文件夹
cmake-build-debug/
cmake-build-release/
.idea

# 我应该注意保护隐私 不应该将debug模式编译的exe上传

# 忽略粘贴板,一个用于存储临时代码于编辑的经常修改的文件
pasteboard.cpp

# 新增忽略文件夹
TemplateChallenge/